$bg: rgb(219, 207, 154);
* {
  background-color: $bg;
  font-size: 20px;

}
.warn{
    background-color: rgb(175, 106, 85);
    &:hover{
        background-color: rgba(160, 34, 25, 0.767);
      }
}
button {
  border-radius: 10px;
  border: 1px solid rgba(12, 10, 10, 0.24);
  padding: 0.5rem;
  &:hover{
    background-color: rgba(10, 11, 12, 0.178);
  }
}
